.FormModal {
    flex-direction: column;
    align-items: center;
    display: flex;
};

.FormModal-title {
    text-align: center;
    color: $blue-dark;
};

.FormModal-submit {
    margin: $s-size !important;
};

.FormModal-textfield {
    width: 90% !important;
}